@import "tailwindcss";

/* If you have custom colors, add them here using CSS variables */
@theme {
  --color-brand-50: #f5f7ff;
  --color-brand-600: #3b82f6;
  --color-brand-900: #1e3a8a;
  
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}